<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Cadastro</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b">Registro de Cidades</h3>
                            <p>Criação de Cidades.</p>
                            <form role="form">
                                <div class="form-group">
                                    <label>Tipo do Evento</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h4>Todos as Cidades</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>