<div class="row justify-content-md-center">
    <div class="col-lg-12">
        <h4 class="text-center m">
            Todos Eventos do Mês
        </h4>
        <div class="slick">
            <div>
                <div class="contact-box center-version">
                    <a href="profile.html">
                        <img alt="image" class="rounded-circle" src="assets/img/esporte-min.png">
                        <h3 class="m-b-xs">
                            <strong>John Smith</strong>
                        </h3>
                        <div class="font-bold">Graphics designer</div>
                        <address class="m-t-md">
                            <strong>Twitter, Inc.</strong>
                            <br> 795 Folsom Ave, Suite 600
                            <br> San Francisco, CA 94107
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a href="" class="btn btn-sm btn-primary">
                                <i class="fa fa-money"></i> Comprar Igresso </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>