<div class="row justify-content-md-center">
    <div class="col-lg-12">
        <h4 class="text-center m">
            Todos Eventos
        </h4>
        <div class="slick">
            <div *ngFor='let evento of eventos; trackBy: index;'>
                <div class="contact-box center-version" >
                    <a role="button" href="#">
                        <img alt="image" class="rounded-circle" src="assets/img/{{evento.img}}-min.png">
                        <h3 class="m-b-xs">
                            <strong>{{evento.descricao}}</strong>
                        </h3>
                        <div class="font-bold">{{evento.data | date:'d/M/yyyy'}}</div>
                        <address class="m-t-md">
                                {{evento.cidade}} - {{evento.endereco}}
                        </address>
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a href="" class="btn btn-sm btn-primary">
                                <i class="fa fa-money"></i> Comprar Igresso </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>