<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-bold">Bem vindo ao Eventos RC</h2>
            <p>
                Perfeito pra você deseja curtir um bom evento!
            </p>
            <p>
                <img class="img-fluid" src="assets/img/logo.png" routerLink="">
            </p>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form  #formLogin="ngForm" (submit)="logar($event)" class="m-t" role="form">
                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)] = "login.cpf" class="form-control" placeholder="Cpf" 
                        required mask="999.999.999-99" pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})" >
                    </div>
                    <div class="form-group">
                        <input type="password" name="senha" [(ngModel)] = "login.senha" class="form-control" placeholder="Senha" required="">
                    </div>
                    <button type="submit" [disabled]="!formLogin.valid" class="btn btn-primary block full-width m-b">Login</button>
                    <a class="btn btn-sm btn-white btn-block" [routerLink]="['/secundario',{outlets: {sec:['cadastro']}}]">Criar nova Conta</a>
                </form>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <strong>Copyright</strong> RenanSystem
        </div>
        <div class="col-md-6 text-right">
            <small>&copy;2018</small>
        </div>
    </div>
</div>