<div class="ibox ">
    <div class="ibox-title">
        <h4>
            <i class="fa fa-search"></i>&nbsp;Pesquisa</h4>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-normal">
                        <i class="fa fa-location-arrow"></i>&nbsp;Cidades</label>
                </div>
                <select class="chosen-select">
                    <option value="">Selecione</option>
                    <option value="United States">United States</option>
                    <option value="United Kingdom">United Kingdom</option>
                </select>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="font-normal">
                        <i class="fa fa-calendar"></i>&nbsp;Tipo de Evento</label>
                </div>
                <select class="chosen-select">
                    <option value="">Selecione</option>
                    <option value="United States">United States</option>
                    <option value="United Kingdom">United Kingdom</option>
                </select>
            </div>
        </div>
    </div>
</div>