<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Cadastro</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b">Registro de evento</h3>
                            <p>Criação de Eventos.</p>
                            <form #formEvento="ngForm" role="form"  autocomplete="off">
                                <div class="form-group">
                                    <label>Tipo do Evento</label>
                                    <select class="select"aria-placeholder="Selecione" autocomplete="false" name="tipoEvento" [(ngModel)]="evento.tipoEvento">
                                        <option ngValue="">Selecione</option>
                                        <option ngValue="Esporte">Esporte</option>
                                        <option ngValue="Show">Show</option>
                                        <option ngValue="Teatro">Teatro</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Descriação</label>
                                    <input type="text" placeholder="Descriação" name="descricao" [(ngModel)]="evento.descricao" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Data</label>
                                    <input type="date" placeholder="Data" name="data" [(ngModel)]="evento.data" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Cidade</label>
                                    <select class="select" name="cidade" autocomplete="false" [(ngModel)]="evento.cidade">
                                        <option ngValue="" selected>Selecione</option>
                                        <option ngValue="{{cidade.descricao}}" *ngFor='let cidade of cidades; trackBy: index;'>{{cidade.descricao}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Localização</label>
                                    <textarea placeholder="Endereço completo" autocomplete="off" name="endereco" [(ngModel)]="evento.endereco" required class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Quantidade ingressos</label>
                                    <input type="number" placeholder="Qtd" name="qtd" [(ngModel)]="evento.qtd" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Valor Unitário</label>
                                    <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"  placeholder="Valor Un" name="valor" [(ngModel)]="evento.valor" required class="form-control">
                                </div>
                                <div>
                                    <button (click)="cadastrar()" [disabled]="!formEvento.valid" class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit">
                                        <strong>Confirmar</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h4>Todos os Eventos</h4>
                            <div class="input-group">
                                <input type="text" placeholder="Todos os Eventos" class="input form-control">
                                <span class="input-group-append">
                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Pesquisar</button>
                                </span>
                            </div>
                            <hr>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                    <tr *ngFor='let evento of eventos; trackBy: index;'>
                                                        <td>{{evento.descricao}}</td>
                                                        <td>{{evento.data | date:'d/M/yyyy'}}</td>
                                                        <td>{{evento.valor | currency:'BRL'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>