<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Cadastro</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b">Registro de evento</h3>
                            <p>Criação de Eventos.</p>
                            <form role="form">
                                <div class="form-group">
                                    <label>Tipo do Evento</label>
                                </div>
                                <div class="form-group">
                                    <label>Descriação</label>
                                    <input type="text" placeholder="Descriação" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Data</label>
                                    <input type="date" placeholder="Data" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Cidade</label>
                                </div>
                                <div class="form-group">
                                    <label>Localização</label>
                                    <textarea placeholder="Endereço completo" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Quantidade ingressos</label>
                                    <input type="number" placeholder="Qtd" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Valor Unitário</label>
                                    <input type="number" placeholder="Valor Un" class="form-control">
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit">
                                        <strong>Confirmar</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h4>Todos os Eventos</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>