<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Quadro de Eventos Geral </h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Comprar</th>
                                <th>Evento </th>
                                <th>Tipo Evento </th>
                                <th>Data </th>
                                <th>Valor Uni</th>
                                <th>Cidade</th>
                                <th>Local</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let evento of eventos; trackBy: index;'>
                                <td>
                                    <div class="m-t-xs btn-group">
                                        <div (click)="addCart(evento)" class="btn btn-sm btn-primary">
                                            <i class="fa fa-money"></i> Comprar Igresso 
                                        </div>
                                    </div>
                                </td>
                                <td>{{evento.descricao}}</td>
                                <td>{{evento.tipoEvento}}</td>
                                <td>{{evento.data | date:'d/M/yyyy'}}</td>
                                <td>{{evento.valor | currency:'BRL'}}</td>
                                <td>{{evento.cidade}}</td>
                                <td>{{evento.endereco}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>