<div class="row">
  <div class="col-lg-12">
      <div class="ibox ">
          <div class="ibox-content">
              <div class="m-t-sm">
                  <div class="row">
                      <div class="col-md-8 text-center">
                          <div>
                              <img class="img-fluid" src="assets/img/logo.png">
                          </div>
                          <small class="text-center">
                              <strong><h3>Todos os Eventos mais legais estão aqui!</h3></strong>
                          </small>
                      </div>
                      <div class="col-md-4">
                          <ul class="stat-list m-t-lg mlt-xs">
                              <li>
                                  <h1 class="no-margins">{{totalEventos}}</h1>
                                  <span>Total de Eventos</span>
                                  <div class="progress progress-mini">
                                      <div class="progress-bar" style="width: 100%;"></div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="m-t-md">
                  <span class="float-right">
                      <i class="fa fa-clock-o"> </i>
                      Update on 16.07.2015
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>